Repository Windscribe/Desktop-App: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:jom, build:cares, build:lzo, build:boost, build:wireguard, build:gtest, build:openssl, build:zlib, build:curl, build:openvpn, build:protobuf, build:qt, build:stunnel

Path conditions:
  build:jom: any of: tools/vars/jom.yml
  build:cares: any of: tools/vars/cares.yml
  build:lzo: any of: tools/vars/lzo.yml
  build:boost: any of: tools/vars/boost.yml
  build:wireguard: any of: tools/vars/wireguard.yml
  build:gtest: any of: tools/vars/gtest.yml
  build:openssl: any of: tools/vars/openssl.yml, tools/vars/jom.yml
  build:zlib: any of: tools/vars/zlib.yml, tools/vars/jom.yml
  build:curl: any of: tools/vars/curl.yml, tools/vars/zlib.yml, tools/vars/jom.yml
  build:openvpn: any of: tools/vars/openvpn.yml, tools/vars/openssl.yml, tools/vars/jom.yml, tools/vars/lzo.yml
  build:protobuf: any of: tools/vars/protobuf.yml, tools/vars/zlib.yml, tools/vars/jom.yml
  build:qt: any of: tools/vars/qt.yml, tools/vars/openssl.yml, tools/vars/jom.yml
  build:stunnel: any of: tools/vars/stunnel.yml, tools/vars/openssl.yml, tools/vars/jom.yml

Try cares on mac
  .gitlab-ci.yml
  tools/vars/cares.yml
Due: build:cares

try unzip on macos and template curl
  .gitlab-ci.yml
  tools/vars/openssl.yml
Due: build:openssl, build:openvpn, build:qt, build:stunnel

Shell did not like templating curl :(
  .gitlab-ci.yml
  tools/vars/openssl.yml
Due: build:openssl, build:openvpn, build:qt, build:stunnel

Expand curl back to long form
  .gitlab-ci.yml
  tools/vars/openssl.yml
Due: build:openssl, build:openvpn, build:qt, build:stunnel

fix missing space in find
  .gitlab-ci.yml
  tools/vars/openssl.yml
Due: build:openssl, build:openvpn, build:qt, build:stunnel

Mac building script. ws/client/desktop/client-desktop#435
  backend/engine/engine.pro
  common/ipc/proto/generate_proto.sh
  gui/gui/gui.pro
  installer/mac/installer/installer.xcodeproj/project.pbxproj
  installer/windows/additional_files/7z.dll
  installer/windows/additional_files/7z.exe
  tools/base/process.py
  tools/base/utils.py
  tools/build_all
  tools/build_all.py
  tools/build_all.yml
  tools/deps/install_curl.py
  tools/deps/install_openssl.py
Due: none

Try unzipping dependencies using for loop instead
  .gitlab-ci.yml
  tools/vars/openssl.yml
Due: build:openssl, build:openvpn, build:qt, build:stunnel

Add the rest of the build stuff for mac
  .gitlab-ci.yml
Due: none

Remove gtest from mac and dont import signing key
  .gitlab-ci.yml
  tools/vars/boost.yml
Due: build:boost

Mark gtest and build_all as executable, also fix a forward slash in jom.yml
  tools/build_all
  tools/deps/install_gtest
  tools/vars/jom.yml
Due: build:jom, build:openssl, build:zlib, build:curl, build:openvpn, build:protobuf, build:qt, build:stunnel

poke ci
  .gitlab-ci.yml
Due: none

Added basic build and run test-gui scripts on top of Python build system. ws/client/desktop/client-desktop#430
  tools/base/utils.py
  tools/build_test_gui
  tools/build_test_gui.bat
  tools/build_test_gui.py
  tools/build_test_gui.yml
  tools/run_test_gui
  tools/run_test_gui.bat
  tools/run_test_gui.py
Due: none

Nop out win build and zip mac manually
  .gitlab-ci.yml
Due: none

bump qt
  tools/vars/qt.yml
Due: build:qt

Fix mac build dmg file name
  .gitlab-ci.yml
Due: none

Clean out DropDMG Windscribe2 settings and simlink to this repo
  .gitlab-ci.yml
Due: none

Make symlinks absolute path
  .gitlab-ci.yml
Due: none

Do a bit of cleaning on build_all.py and enable windows builds
  .gitlab-ci.yml
  tools/base/utils.py
  tools/build_all.py
Due: none

Made the detection of the authorization error for IKEv2 more specific. #398
  backend/engine/engine/connectionmanager/ikev2connection_mac.mm
Due: none

Reduced the ping_long_custom_configs log size. #434
  backend/engine/engine/locationsmodel/failedpinglogcontroller.cpp
  backend/engine/engine/locationsmodel/failedpinglogcontroller.h
  backend/engine/engine/locationsmodel/pingipscontroller.cpp
Due: none

Updated notarization script. ws/client/desktop/client-desktop#435
  tools/notarize.sh
  tools/notarize.yml
Due: none

Do a bit of clean-up for dependency install python scripts
  tools/deps/install_boost.py
  tools/deps/install_cares.py
  tools/deps/install_curl.py
  tools/deps/install_gtest.py
  tools/deps/install_jom.py
  tools/deps/install_lzo.py
  tools/deps/install_openssl.py
  tools/deps/install_openvpn.py
  tools/deps/install_protobuf.py
  tools/deps/install_qt.py
  tools/deps/install_stunnel.py
  tools/deps/install_wireguard.py
  tools/deps/install_zlib.py
Due: none

Don't log any API responses, log SessionStatus only if it actually changed. #434
  backend/engine/engine/apiinfo/sessionstatus.cpp
  backend/engine/engine/apiinfo/sessionstatus.h
  backend/engine/engine/engine.cpp
  backend/engine/engine/engine.h
  backend/engine/engine/serverapi/serverapi.cpp
  backend/engine/engineserver.cpp
Due: none

Description on emergency connect screen updated.
  gui/gui/emergencyconnectwindow/emergencyconnectwindowitem.cpp
  gui/gui/emergencyconnectwindow/emergencyconnectwindowitem.h
Due: none

Change log updated.
  common/changelog.txt
Due: none

2.02 build 10 (non beta).
  common/version/windscribe_version.h
Due: none

Use sudo internally to notarization for ci purposes. ws/client/desktop/client-desktop#435
  tools/notarize.sh
Due: none

Added full path to xcrun for ci purposes. ws/client/desktop/client-desktop#435
  tools/notarize.sh
Due: none

Remove extra quotes from xcodebuild command
  tools/build_all.py
Due: none

Added notarization to build_all for ci. ws/client/desktop/client-desktop#424
  .gitlab-ci.yml
  tools/build_all.py
Due: none

test notarize on ci. ws/client/desktop/client-desktop#424
  .gitlab-ci.yml
Due: none

Make notarize.sh less spamy by checking every 15s
  tools/notarize.sh
Due: none

Fixed dummy test project building on Mac. ws/client/desktop/client-desktop#435
  gui/test-gui/TestGui/TestGui.pro
Due: none

Fixed gtest install script. ws/client/desktop/client-desktop#435
  tools/deps/install_gtest.py
Due: none

Added mac support to build and run test scripts. ws/client/desktop/client-desktop#435
  .gitignore
  tools/base/process.py
  tools/base/utils.py
  tools/build_test_gui
  tools/build_test_gui.py
  tools/build_test_gui.yml
  tools/run_test_gui
  tools/run_test_gui.py
Due: none

Bump full pipeline for 435. ws/client/desktop/client-desktop#435
  .gitlab-ci.yml
Due: none

Fixed install_gtest on win. ws/client/desktop/client-desktop#435
  tools/deps/install_gtest.py
Due: none

Bump gtest for build test. ws/client/desktop/client-desktop#435
  tools/vars/gtest.yml
Due: build:gtest

Updated stunnel. ws/client/desktop/client-desktop#435
  tools/vars/stunnel.yml
Due: build:stunnel

Fix to bypass cppcheck bug. ws/client/desktop/client-desktop#435
  backend/engine/engine/serverapi/serverapi.h
Due: none
